{%  extends './vista/base.html' %}

{% block css %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="css/eleccion_proyectos.css"/>
{% endblock %}

{% block linea_body %}
<body onresize="renderizar('2', '{{usuario.tipo}}', '{{usuario.usuario}}');" onload="renderizar('2', '{{usuario.tipo}}', '{{usuario.usuario}}');">
{% endblock %}

{% block cabecera %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-3">
            <a href="index.php" class="brand-logo center"><img src="img/larva_files/logo.png" id="logo"></a> 
            
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Años anteriores</a></li>
            </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block contenido %}
    <div id="caja" class="container">
        <ul id="lista-proyectos" class="collection">

            <!-- Titulo --> 
            <div class="collection-header">
                {% if usuario.tipo == 'Alumno' %}
                    <h3 id="titulo-caja">Bienvenido {{ " " }} {{usuario.usuario}}, selecciona el proyecto:</h3>
                {% else %}
                    <h3 id="titulo-caja">Selecciona el proyecto:</h3>
                {% endif %}
            </div>

            {% if usuario.tipo == 'Profesor' %}
            <nav>
                <div class="nav-wrapper blue-grey darken-2">
                   <form onSubmit="return false;">
                    <div class="input-field">
                      <input id="txt-busqueda" type="search" autocomplete="off" onkeyup="filtrar({pagina:'Eleccion Proyectos', filtrar:'Proyectos', filtro:this.value});"/>
                      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                      <i onclick="borrarTxtBusqueda();" class="material-icons">close</i>
                    </div>
                  </form>
                </div>
            </nav>
            {% endif %}

            <!-- Proyectos -->
            <div id="listado">
            {% for proyecto in proyectos %}
            <a href="#!" onclick="return dopost('index.php', {pagina:'Estadisticas', idProyecto:'{{proyecto.idProyecto}}'});" class="caja-item collection-item black-text hvr-fade">
                <div class="caja-proyecto row valign-wrapper">
                    <div class="col s3 m1">
                        <img src="{{proyecto.img}}" alt="" class="responsive-img circle">
                    </div>
                    <div class="col s9 m11">
                        <i class="material-icons right">low_priority</i>
                        <span class="titulo-proyecto">{{proyecto.titulo}} - <span class="clase-hito"> Curso {{" "}} {{proyecto.cursoAcademico}}</span></span>
                        <p class="info-proyecto">
                            {% if proyecto.fechaFin == null %} 
                                {{proyecto.fechaInicio|date("d/m/Y")}}<br>
                            {% else %}
                                {{proyecto.fechaInicio|date("d/m/Y")}} {{ " ~ " }} {{proyecto.fechaFin|date("d/m/Y")}} <br>
                            {% endif %}

                            {{proyecto.resumen}}
                        </p>
                    </div>
                </div>
            </a>
            {% endfor %}
            </div>

        </ul>

        {% if usuario.tipo == 'Profesor' %}
        <a href="#" onclick="return dopost('index.php');" class="boton-atras btn-floating btn-large grey darken-4">
            <i class="large material-icons">arrow_back</i>
        </a>
        {% endif %}

    </div>

    <!--boton cerrar sesion-->
    <div id="boton-cerrar-sesion" class="fixed-action-btn">
        <a href="#" onclick="return dopost('index.php', {cerrar_sesion:'true'});" class="btn-floating btn-large red darken-3">
            <i class="large material-icons">power_settings_new</i>
        </a>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="js/eleccion_proyectos.js"></script>
{% endblock %}