{% extends 'vista/base.html' %}

{% block css %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="css/formularios.css"/>
{% endblock %}


{% block cabecera %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-3">
            <a href="#" onclick="return dopost('index.php');" class="brand-logo center"><img src="img/larva_files/logo.png" id="logo"></a> 
            
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Años anteriores</a></li>
            </ul>
            </div>
        </nav>
    </div>
{% endblock %}

    
{% block contenido %}
    <div id="caja" class="container">
        <div id="sub-caja" class="row">
            <div class="collection-header">
                <h3 id="titulo-caja">Modificar Hito Autocalculable</h3>
            </div>
            <form id="formulario" class="col s12 grey lighten-5" action="index.php" method="POST" enctype="multipart/form-data">
                <div class="row">

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">title</i>
                        <input disabled id="idHito" name="idHito" type="text"" class="validate" value="{{hito.idHito}}">
                        <label for=idHito>Identificador del Hito</label>
                    </div>
                    
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">view_quilt</i>
                        <select id="operacion" name="operacion">                            
                            {% if hito.actualizacion == 'suma' %}
                            <option value="suma" selected="selected">Suma</option>
                            <option value="resta">Resta</option>
                            <option value="multiplicacion">Multiplicación</option>
                            <option value="division">División</option>
                            {% elseif hito.actualizacion == 'resta' %}
                            <option value="suma">Suma</option>
                            <option value="resta" selected="selected">Resta</option>
                            <option value="multiplicacion">Multiplicación</option>
                            <option value="division">División</option>
                            {% elseif hito.actualizacion == 'multiplicacion' %}
                            <option value="suma">Suma</option>
                            <option value="resta">Resta</option>
                            <option value="multiplicacion" selected="selected">Multiplicación</option>
                            <option value="division">División</option>
                            {% else %}
                            <option value="suma">Suma</option>
                            <option value="resta">Resta</option>
                            <option value="multiplicacion">Multiplicación</option>
                            <option value="division" selected="selected">División</option>
                            {% endif %}
                        </select>
                        <label for="operacion">Operacíon de cálculo</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">sync</i>
                        <select id="actualizacion" name="actualizacion">                            
                            {% if hito.actualizacion == 'min' %}
                            <option value="min" selected="selected">Mínimo</option>
                            <option value="max">Máximo</option>
                            <option value="add">Acumulación</option>
                            <option value="diff">Diferencia</option>
                            <option value="set">Set</option>
                            {% elseif hito.actualizacion == 'max' %}
                            <option value="min">Mínimo</option>
                            <option value="max" selected="selected">Máximo</option>
                            <option value="add">Acumulación</option>
                            <option value="diff">Diferencia</option>
                            <option value="set">Set</option>
                            {% elseif hito.actualizacion == 'add' %}
                            <option value="min">Mínimo</option>
                            <option value="max">Máximo</option>
                            <option value="add" selected="selected">Acumulación</option>
                            <option value="diff">Diferencia</option>
                            <option value="set">Set</option>
                            {% elseif hito.actualizacion == 'diff' %}
                            <option value="min">Mínimo</option>
                            <option value="max">Máximo</option>
                            <option value="add">Acumulación</option>
                            <option value="diff" selected="selected">Diferencia</option>
                            <option value="set">Set</option>
                            {% else %}
                            <option value="min">Mínimo</option>
                            <option value="max">Máximo</option>
                            <option value="add">Acumulación</option>
                            <option value="diff">Diferencia</option>
                            <option value="set" selected="selected">Set</option>
                            {% endif %}
                        </select>
                        <label for="actualizacion">Criterio de Actualización</label>
                    </div>

                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">sort_by_alpha</i>
                        <select id="tipo" name="tipo">
                            {% if hito.tipo == 'date' %}
                            <option value="date" selected="selected">Fecha</option>
                            <option value="time">Tiempo</option>
                            <option value="number">Número</option>
                            <option value="text">Texto</option>
                            {% elseif hito.tipo == 'time' %}
                            <option value="date">Fecha</option>
                            <option value="time" selected="selected">Tiempo</option>
                            <option value="number">Número</option>
                            <option value="text">Texto</option>
                            {% elseif hito.tipo == 'number' %}
                            <option value="date">Fecha</option>
                            <option value="time"">Tiempo</option>
                            <option value="number" selected="selected">Número</option>
                            <option value="text">Texto</option>
                            {% else %}
                            <option value="date">Fecha</option>
                            <option value="time"">Tiempo</option>
                            <option value="number">Número</option>
                            <option value="text" selected="selected">Texto</option>
                            {% endif %}
                        </select>
                        <label for="tipo">Tipo</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">chrome_reader_mode</i> 
                        <textarea id="descripcion" name="descripcion" type="textarea" placeholder="Escribe la descripción..." cols="50" rows="5">{{hito.descripcion}}</textarea>
                        <label for="descripcion">Descripción</label>
                    </div>

                    <input type="hidden" name="pagina" value="Modificar Hito Autocalculable 2">
                    <input type="hidden" name="modificar_hito_autocalculable" value="true">
                    <input type="hidden" name="idConfiguracion" value="{{idConfiguracion}}">
                    <input type="hidden" name="idHitoAutocalculable" value="{{hito.idHito}}">
                    <button id="boton-crear" class="light-blue lighten-2 btn waves-effect waves-light center" type="submit" name="action">Modificar</button>
                    <button onclick="dopost('index.php', {pagina:'Administrar Hitos', idConfiguracion:'{{idConfiguracion}}'});return false;" id="boton-crear" type="button" class="red lighten-2 btn waves-effect waves-light center">Cancelar</button>
                </div> 
            </form>
        </div>
    </div>

    <!--boton cerrar sesion-->
    <div id="boton-cerrar-sesion" class="fixed-action-btn">
        <a href="#" onclick="return dopost('index.php', {cerrar_sesion:'true'});" class="btn-floating btn-large red darken-3">
            <i class="large material-icons">power_settings_new</i>
        </a>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="js/formularios.js"></script>
{% endblock %}

