{% extends 'vista/base.html' %}

{% block css %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="css/eleccion_proyectos.css"/>
{% endblock %}


{% block cabecera %}
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-3">
            <a href="#" onclick="return dopost('index.php');" class="brand-logo center"><img src="img/larva_files/logo.png" id="logo"></a> 
            
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Años anteriores</a></li>
            </ul>
            </div>
        </nav>
    </div>
{% endblock %}

    
{% block contenido %}
    <div id="caja" class="container">
        <ul id="lista-proyectos" class="collection">

            <!-- Titulo -->
            <div class="collection-header">
                <h3 id="titulo-caja">
                    
                    Niveles asociados

                    <a href="#!" onclick="return dopost('index.php', {pagina: 'Crear Nivel', idConfiguracion:'{{idConfiguracion}}'});" class="boton-crear btn-floating pink darken-4 pulse tooltipped" data-position="top" data-tooltip="Crear Nivel" >
                        <i class="large material-icons">add</i>
                    </a>

                </h3>
                
                
            </div>
            
            {% for nivel in niveles %}
            <div class="caja-item collection-item black-text hvr-fade">
                <div class="caja-proyecto row valign-wrapper">
                    <div class="col s3 m1">
                        <img src="img/administracion/level.jpg" alt="" class="responsive-img circle">
                    </div>
                    <div class="col s9 m11">      
                        <div class="botones">             
                            <a href="#!" onclick="return dopost('index.php', {pagina: 'Modificar Nivel', idNivel: '{{nivel.idNivel}}', idConfiguracion: '{{idConfiguracion}}' });" class="boton btn-floating btn-small blue darken-3">
                                <i class="large material-icons">edit</i>
                            </a>
                            <a href="#!" onclick="return dopost('index.php', {pagina: 'Administrar Niveles', borrar_nivel: 'true', idNivel: '{{nivel.idNivel}}', idConfiguracion: '{{idConfiguracion}}' });" class="boton btn-floating btn-small red darken-3">
                                <i class="large material-icons">delete_forever</i>
                            </a>
                        </div> 
                        <span class="titulo-proyecto">{{nivel.idNivel}} -
                            {% if nivel.dificultad == 'facil' %}
                            <span class="clase-hito">Fácil</span>
                            {% elseif nivel.dificultad == 'normal' %}
                            <span class="clase-hito">Medio</span>
                            {% elseif nivel.dificultad == 'dificil' %}
                            <span class="clase-hito">Difícil</span>
                            {% else %}
                            <span class="clase-hito">Extremo</span>
                            {% endif %}
                        </span>
                        <p class="info-proyecto">{{nivel.descripcion}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </ul> 

        <a href="#!" onclick="return dopost('index.php', {pagina: 'Administrar Hitos', idConfiguracion: '{{idConfiguracion}}'});" class="boton-siguiente btn-floating btn-large grey darken-4 pulse">
            <i class="large material-icons">arrow_forward</i>
        </a>

        <a href="#" onclick="return dopost('index.php', {pagina:'Listado Modificar Configuracion'});" class="boton-atras btn-floating btn-large grey darken-4">
            <i class="large material-icons">arrow_back</i>
        </a>
    </div>

    <!--boton cerrar sesion-->
    <div id="boton-cerrar-sesion" class="fixed-action-btn">
        <a href="#" onclick="return dopost('index.php', {cerrar_sesion:'true'});" class="btn-floating btn-large red darken-3">
            <i class="large material-icons">power_settings_new</i>
        </a>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript" src="js/eleccion_proyectos.js"></script>
{% endblock %}